:root {
  --first-color: #4c701f;
  --second-color: #E7E8EA;
  --first-font: "Poppins", sans-serif;
  --second-font: "Passions Conflict", cursive;
}

a {
  text-decoration: none !important;
  color: black!important;
}

body {
  margin: 0 auto;
  font-family: var(--first-font) !important;
  background: var(--second-color) !important;
}

footer {
  background: #FFFDFB !important;
  border-top:3px solid black;
}

h1, h2 {
  font-family: 'Comforter Brush', cursive;
  font-size: 60px !important;
}
.about-content{
  margin-top: 140px;
}

.about-paragraphs {
  font-size: 17px;
}

.btn{
  background: #FFFDFB !important;
  padding: 3px !important;
  font-size: 18px !important;
}


.btn:hover{
  background: #F0CCD9 !important;
  transition: all 200ms ease-in-out;
}

.certificate a:hover {
  color: #F0CCD9;
  opacity: 0.5;
}

.collapse:not(.show) {
  display: none;
}

.d-flex {
  display: flex !important;
}

.final-note {
  color: black;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}


.justify-content-center {
  justify-content: center !important;
}

.headshot {
  border: 6px solid white;
  border-radius: 10px;
  margin: 0 auto;
  width: 345px
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.nav-myname {
  border: 3px solid black;
  border-radius: 5px;
  font-size: 50px !important;
  font-family: var(--second-font) !important;
  margin-right: -35px !important;
  padding: 8px;
}

.nav-text {
  padding-left: 100px !important;
  font-family: var(--first-font) !important;
}

.nav-text :hover {
  color: var(--first-color) !important;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.social-links a {
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  font-size: 25px;
  margin: 10px 30px;
  padding: 5px 14px;
}

.social-links :hover {
  color: black;
  background: #f0ccda;
}

.text-center {
  text-align: center !important;
}

@media screen and (max-width:915px) {
  .col-lg-4, .col-lg-8 {
    flex: 0 0 auto;
    width: 50%;
  }
  .headshot {
    display: block;
    margin: auto;
  }
  .nav-text {
    margin-left: -50px;
  }
  .technologies {
    padding: 0 20px;
    font-size: 8px;
    text-align: center;
  }
  .technologies img{
    margin-bottom: 5px !important;
    margin-top: 15px;
    max-width: 120%;
  }
}