:root {
  --first-color: #4c701f;
  --second-color: #E7E8EA;
  --first-font: "Poppins", sans-serif;
  --second-font: "Passions Conflict", cursive;
}

a {
  text-decoration: none !important;
  color: black!important;
}

body {
  margin: 0 auto;
  font-family: var(--first-font) !important;
  background: var(--second-color) !important;
}

footer {
  background: #FFFDFB !important;
  border-top:3px solid black;
}

form {
  display: block;
  margin: 30px 20px;
}

h1 {
  font-family: 'Comforter Brush', cursive;
  font-size: 100px !important;
  text-align: center;
}

h3 {
  color: var(--first-color);
  font-size: 48px;
}

.bg-pink{
  background: #F9DCDE;
}

.btn{
  background: rgb(255, 155, 171) !important;
  display: inline-block;
  padding: 15px 30px !important;
  font-size: 18px !important;
  margin-top: 15px;
  text-align: center!important;
  text-transform: uppercase;
}


.btn:hover{
  background: #F0CCD9 !important;
  transition: all 200ms ease-in-out;
}

.collapse:not(.show) {
  display: none;
}


.contact-section {
  margin-top:100px;
  text-align: center;
}

.contact-section a{
  font-size: 20px;
  text-align: center;
}

.contact-section a:hover{
  color: #000000 !important;
  opacity: 0.5;
}

.d-flex {
  display: flex !important;
}
.git-link {
  text-decoration: none !important;
  color: var(--first-color) !important;
}

.git-link :hover {
  text-decoration: underline;
  color: var(--first-color) !important;
}

.final-note {
  color: black;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.justify-content-center {
  justify-content: center !important;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.nav-myname {
  border: 3px solid black;
  border-radius: 5px;
  font-size: 50px !important;
  font-family: var(--second-font) !important;
  margin-right: -35px !important;
  padding: 8px;
}

.nav-text {
  padding-left: 100px !important;
  font-family: 'Comforter Brush', cursive;
  font-size: larger;
}

.nav-text :hover {
  color: var(--first-color) !important;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.container-fluid{
  margin-top: 125px;
}


.social-links a {
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  font-size: 25px;
  margin: 10px 30px;
  padding: 5px 14px;
}

.social-links :hover {
  color: black;
  background: #f0ccda;
}

.text-center {
  text-align: center !important;
}

@media screen and (max-width:915px) {
  .contact-section {
    font-size: 20px !important;
    text-align: center;
  }
  .nav-text {
    margin-left: -50px;
  }
}