:root {
  --first-color: #4c701f;
  --second-color: #fffdfb;
  --first-font: "Poppins", sans-serif;
  --second-font: "Passions Conflict", cursive;
}

a {
  text-decoration: none !important;
}

body {
  margin-top: 50px !important;
  font-family: var(--first-font) !important;
  background: var(--second-color) !important;
}

h1,
h2,
h3 {
  margin: 0;
}

footer {
  margin: 20px 0px;
}

.about-content{
  margin-top: 140px;
}


.collapse:not(.show) {
  display: none;
}

.d-flex {
  display: flex !important;
}

.final-note {
  color: black;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.git-link {
  text-decoration: none !important;
  color: var(--first-color) !important;
}

.git-link :hover {
  text-decoration: underline;
  color: var(--first-color) !important;
}

.justify-content-center {
  justify-content: center !important;
}

.main-content .border {
  border: 4px solid black !important;
  border-radius: 5px;
  margin: 140px;
  padding: 50px 30px !important;
}

.main-content h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-family: var(--second-font);
  text-align: center;
}
.main-content h4 {
  font-family: var(--first-font);
  font-size: 25px;
  opacity: 0.9;
  text-align: center;
}

.main-content {
  height: 100vh;
  background: url(../images/main-picture.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 150px 20px;
  border-bottom: 3px solid black;
}

.me-image {
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgb(141, 138, 138);
  margin-left: 70px;
  margin-top: 100px;
}


.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.nav-myname {
  border: 3px solid black;
  border-radius: 5px;
  font-size: 50px !important;
  font-family: var(--second-font) !important;
  margin-right: -35px !important;
  padding: 8px;
}

.nav-text {
  padding-left: 100px !important;
  font-family: 'Comforter Brush', cursive;
  font-size: larger;
}

.nav-text :hover {
  color: var(--first-color) !important;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.social-links a {
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  font-size: 25px;
  margin: 10px 30px;
  padding: 5px 14px;
}

.social-links :hover {
  color: black;
  background: #f0ccda;
}

.text-center {
  text-align: center !important;
}
@media screen and (max-width:915px) {
  .main-content {
    background: url(../images/mobile-walpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-content h1 {
    font-size: 75px !important;
    line-height: 1.5;
  }
  .main-content h4 {
    font-size: 27px !important;
    text-align: center;
  }

  .main-content .border {
    border: none!important;
    scroll-margin-top: auto!important;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .nav-text {
    margin-left: -50px;
  }
  .main-content {
    background: url(../images/mobile-walpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-content h1 {
    font-size: 50px !important;
    line-height: 1.3;
  }
  .main-content h4 {
    font-size: 20px !important;
    text-align: center;
  }

    .main-content .border {
    border: none!important;
    scroll-margin-top: auto!important;
    margin: auto;
  }
}