:root {
--first-color: #0881a3; 
--second-color: #fffdfb; 
--third-color: #fde9df; 
--fourth-color: #ffd6a4; 
--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px !important;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  background: var(--second-color) !important;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px !important;
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link, .about-link {
  background: var(--fourth-color);
  box-shadow: var(--box-shadow);
  color: black;
  font-size: 20px;
  font-weight: 700!important;
}

.hero {
  background: #0881a3d6;
  padding-top: 30px;
}



.bg-light {
  background-color: #f8f9fa !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}


.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--fourth-color);
  box-shadow: var(--box-shadow);
  color: black;
  font-size: 18px;
  font-weight: 700!important;
}

.text-center {
  text-align: center !important;
}

@media (max-width: 576px){
  h1{
    font-size: 48px;
    line-height: 1.5;
  }
  h2{
    font-size: 32px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}