:root {
  --first-color: #4c701f;
  --second-color: #fffdfb;
  --first-font: "Poppins", sans-serif;
  --second-font: "Passions Conflict", cursive;
}

a {
  text-decoration: none !important;
}

body {
  margin-top: 50px !important;
  font-family: var(--first-font) !important;
  background: var(--second-color) !important;
}

h1,
h2,
h3 {
  margin: 0;
}

footer {
  margin: 20px 0px;
}

.d-flex {
  display: flex !important;
}

.final-note {
  color: black;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.git-link {
  text-decoration: none !important;
  color: var(--first-color) !important;
}

.git-link :hover {
  text-decoration: underline;
  color: var(--first-color) !important;
}

.justify-content-center {
  justify-content: center !important;
}

.main-content .border {
  border: 4px solid black !important;
  border-radius: 5px;
  margin: 170px;
  padding: 50px 30px !important;
}

.main-content h1 {
  text-transform: uppercase;
  font-size: 125px;
  font-family: var(--second-font);
  text-align: center;
}
.main-content h4 {
  font-family: var(--first-font);
  font-size: 25px;
  opacity: 0.9;
  text-align: center;
}

.main-content {
  height: 100vh;
  background: url(../images/main-picture.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 150px 20px;
  border-bottom: 3px solid black;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.nav-myname {
  margin-right: -50px !important;
  font-size: 50px!important;
  font-family: var(--second-font) !important;
}

.nav-text {
  padding-left: 150px !important;
  font-family: var(--first-font) !important;
}

.nav-text :hover {
  color: var(--first-color) !important;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.social-links a {
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  font-size: 25px;
  margin: 10px 30px;
  padding: 5px 14px;
}

.social-links :hover {
  color: black;
  background: #f0ccda;
}

.text-center {
  text-align: center !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  h4 {
    font-size: 32px;
    text-align: center;
  }
}
